$yellow: #ffc107;
$red: #cb2535;
$green: #18b725;

*:focus {
  outline: none;
}

:root {
  --main-evidence-total: 7;
  --main-bg-color: #000;
  --main-text-color: #fff;
  --main-font-default: 'Rubik', sans-serif;
  --main-animation-default: all 0.15s ease-in-out;
  --main-animation-active: all 0s ease-in-out;
  --main-border-radius: 5px;
  --main-overlay-bg: rgba(10, 10, 10, 0.8);
  --main-button-bg: rgba(30, 30, 30, 0.8);
  --main-button-bg-hover-active: rgba(255, 255, 255, 0.2);
}

::selection {
  background-color: $yellow;
  color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color)
    url(https://i.ibb.co/6RDMWDX/300-100-5-monochrome.png) repeat;
  color: var(--main-text-color);
  font-family: var(--main-font-default);
  margin: 8px;
  &.no_overflow {
    overflow: hidden;
  }
}

p {
  line-height: 1.7;
  font-weight: 300;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#app {
  margin: 0 auto;
  max-width: 970px;
}

#ghosts {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  & > .ghost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: var(--main-button-bg);
    text-align: center;
    border-radius: var(--main-border-radius);
    min-height: 80px;
    transition: var(--main-animation-default);
    &.disabled {
      opacity: 0.52;
      & h2 {
        pointer-events: none;
        text-decoration: line-through;
      }
      &:hover {
        opacity: 1;
        background-color: rgba(30, 30, 30, 0.52);
      }
    }
    &:hover {
      background-color: rgba(35, 35, 35, 0.9);
      & > .actions {
        height: 100%;
        transform: scale(1);
        opacity: 1;
      }
    }
    & > h2 {
      pointer-events: none;
      font-size: max(min(1.6vmax, 19px), 16px);
      font-weight: 300;
      width: 100%;
      margin: 0;
      padding: 10px 0;
    }
    & > .actions {
      width: 100%;
      float: left;
      transform: scale(0);
      transform-origin: top center;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: var(--main-animation-default);
      & > button {
        width: 50%;
        height: 100%;
        display: block;
        float: left;
        padding: 5px 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--main-border-radius);
        &.disabled {
          cursor: not-allowed;
          &:hover,
          &:hover:active {
            background-color: rgba(255, 255, 255, 0.05) !important;
          }
          & > span > i {
            transform: scale(1) !important;
            opacity: 0.3;
            color: #fff !important;
          }
        }
        & > span {
          pointer-events: none;
          & > i.gg-info {
            color: $yellow;
            transition: var(--main-animation-default);
          }
          & > i.gg-close-o {
            color: $red;
            transition: var(--main-animation-default);
          }
          & > i.gg-check-o {
            color: $green;
            transition: var(--main-animation-default);
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
          transition: var(--main-animation-default);
          & > span > i.gg-info {
            color: lighten($yellow, 15);
          }
          & > span > i.gg-close-o {
            color: lighten($red, 15);
          }
          & > span > i.gg-check-o {
            color: lighten($green, 15);
          }
        }
        &:hover:active {
          background-color: var(--main-button-bg-hover-active);
          transition: var(--main-animation-active);
          & > span > i {
            transition: var(--main-animation-active);
            transform: scale(0.9);
          }
          & > span > i.gg-info {
            color: lighten($yellow, 50);
          }
          & > span > i.gg-close-o {
            color: lighten($red, 50);
          }
          & > span > i.gg-check-o {
            color: lighten($green, 50);
          }
        }
      }
    }
  }
}

#ghost_info {
  transform: scale(0);
  transform-origin: center top;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-overlay-bg);
  z-index: 2;
  transition: var(--main-animation-default);
  will-change: transform, backdrop-filter;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: #212121;
    &:hover {
      background-color: #333;
    }
  }
  &::-webkit-scrollbar-thumb {
    outline: 1px solid lighten($yellow, 20);
    background-color: $yellow;
    &:hover {
      background-color: lighten($yellow, 10);
    }
  }
  &.active {
    transform: scale(1);
    backdrop-filter: blur(5px);
  }
  & > .info_block {
    width: 100%;
    padding: 10px;
    max-width: 760px;
    margin: 5px auto 0;
    & > .header {
      padding: 0 8px;
      & > h2 {
        & > i {
          float: left;
          color: $yellow;
          margin-top: 3px;
          margin-right: 10px;
        }
        & > .evidence {
          float: right;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100px;
          & > button {
            cursor: help;
            border-radius: var(--main-border-radius);
            border: 1px solid rgba(40, 40, 40, 1);
            background-color: #212121;
            display: flex;
            align-items: center;
            justify-items: center;
            padding: 2px;
            & > img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    & h3 {
      font-size: max(min(1.8vmax, 20px), 18px);
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      margin-top: 12px;

      &:after {
        top: calc(50% - 1px);
        content: '';
        background-color: var(--main-text-color);
        width: 100%;
        margin-left: 20px;
        height: 1px;
        opacity: 0.2;
        position: absolute;
      }
    }
    & p {
      font-size: max(min(1.4vmax, 16px), 14px);
      margin-top: 10px;
    }
    & > .s_w {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      width: 100%;
      border-radius: var(--main-border-radius);
      border: 1px solid rgba(40, 40, 40, 1);
      background-color: #212121;
      padding-bottom: 5px;
      & > .strength,
      & > .weakness,
      & > .abilities {
        padding: 0 16px;
        white-space: pre-wrap;
      }
    }
    & > .behavior,
    & > .strategies {
      width: 100%;
      border-radius: var(--main-border-radius);
      border: 1px solid rgba(40, 40, 40, 1);
      background-color: #212121;
      padding: 0 16px 5px;
      margin-top: 20px;
      white-space: pre-wrap;
    }
  }
  & > span {
    background: rgb(9, 9, 9);
    background: linear-gradient(
      360deg,
      rgba(9, 9, 9, 1) 25%,
      rgba(9, 9, 9, 0) 100%
    );
    width: 100%;
    height: 120px;
    z-index: 999;
    position: sticky;
    left: 0;
    bottom: 0;
    display: block;
    & > #back_button {
      width: 210px;
      width: fit-content;
      font-weight: 300;
      text-align: center;
      left: 50%;
      transform: translate(calc(-50%), 0);
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 24px;
      text-indent: 8px;
      position: absolute;
      bottom: 20px;
      padding: 8px 12px;
      background-color: #cb2535;
      border-radius: var(--main-border-radius);
      transition: var(--main-animation-default);
      &:hover {
        background-color: lighten($red, 5);
      }
      & > i {
        float: left;
      }
      &:before {
        content: '';
      }
    }
  }
}

#evidence {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc((100% / var(--main-evidence-total)) - 5px), 1fr)
  );
  position: fixed;
  margin-left: -5px;
  bottom: 0;
  width: calc(100% - 6px);
  max-width: 980px;
  padding: 5px;
  overflow-x: visible;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 0 1px rgba(25, 25, 25, 0.52);
  backdrop-filter: blur(3px);

  & > .evidence {
    & > button {
      color: var(--main-text-color);
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      flex-flow: column;
      background-color: var(--main-button-bg);
      border-top: 1px solid rgba(35, 35, 35, 1);
      border-radius: var(--main-border-radius);
      text-decoration: none;
      opacity: 0.8;
      transition: var(--main-animation-default);
      & > img {
        transform: scale(1);
        transition: var(--main-animation-default);
        pointer-events: none;
      }

      &:hover {
        opacity: 1;
      }

      &:hover:active {
        background-color: var(--main-button-bg-hover-active);
        opacity: 1;
        transition: var(--main-animation-disabled);
        & > img {
          transform: scale(0.85);
          transition: var(--main-animation-disabled);
        }
      }

      &.active {
        background-color: var(--main-button-bg);
        border-top: 1px solid $green;
        opacity: 1;
      }

      & > img {
        width: 100%;
        max-width: 32px;
        transform: scale(1);
      }
      & > h2 {
        pointer-events: none;
        text-indent: -9000px;
        position: absolute;
      }
    }
  }
}
